@media screen and (max-width: 420px) {

    .row {
        width: 100%;
        margin-right: auto;
        margin-left: auto;


      }
      
      #lezioni .row>.left,
      #lezioni .row>.right {
        width: 100%;
      }

    #lezioni {
        background-color: #ffffac;
      }

    #lezioni .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: center;
        padding: 10px;
    }  



}